@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        max-width: 100%;
        overflow-x: hidden;
        font-family: Arial, Helvetica, sans-serif;
        @apply bg-neutral-50 text-neutral-600 dark:bg-neutral-900 dark:text-neutral-100
    }
}


